img {
  width: 200px;
  height: 250px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  border-color: blueviolet;
  border: 5px solid blueviolet;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-color: blueviolet;
}

h1 {
  text-align: center;
  margin-top: 20px;
  border-color: blueviolet;
  font-size: 50px;
}
